.scoreboard {
  border: 1px black solid;
  width: 50%;
  height: 40px;
  float: left;
}

.p1row {

  float: left;
  width: 100%;
  height: 20px;
}

.p2row {
  float: left;
  height: 20px;
  width: 100%;
}

.roundrow {
  float: left;
  height: 20px;
  width: 100%;
  /* line-height: 20px; */
}

.win {
  float: left;
  background-color: green;
  height: 20px;
  width: 10%;
}

.lose {
  float: left;
  background-color: red;
  height: 20px;
  width: 10%;
}

.tie {
  float: left;
  background-color: yellow;
  height: 20px;
  width: 10%;
}

/* Materialize Styling Assignment */
