.scoreboard {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  margin-top: 8px;
}

.p1row {

  float: left;
  width: 100%;
  height: 20px;
}

.p2row {
  float: left;
  height: 20px;
  width: 100%;
}

.roundrow {
  float: left;
  height: 20px;
  width: 100%;
  /* line-height: 20px; */
}

.win {
  border: 2px white solid;
  border-radius: 4px;
  float: left;
  background-color: green;
  height: 20px;
  width: 10%;
}

.lose {
  border: 2px white solid;
  border-radius: 4px;
  float: left;
  background-color: red;
  height: 20px;
  width: 10%;
}

.tie {
  border: 2px white solid;
  border-radius: 4px;
  float: left;
  background-color: yellow;
  height: 20px;
  width: 10%;
}

/* Materialize Styling Assignment */

.jackpot {
  float: right;
}

.gameheader {
  float: left;
}

.round {
  text-align: center;
}
